$color-base: #fff;
$color-base-text: #20354d;

$color-primary: #c43538;
$color-primary-text: #fff;

$color-secondary: #6d6969;
$color-secondary-text: #fff;

$color-dark: #000;

$color-infected: #f39c12;
$color-death: #e74c3c;
$color-recovered: #2ecc71;

$color-twitter: #ecfbfd;
$color-twitter-text: #1d8eff;

.color {
  &--death {
    svg {
      color: $color-death;
      fill: $color-death;
    }
  }

  &--cases {
    svg {
      color: $color-infected;
      fill: $color-infected;
    }
  }

  &--recovered {
    svg {
      color: $color-recovered;
      fill: $color-recovered;
    }
  }
}

.chart {
  &--cases {
    background-color: rgba($color-infected, 0.3);
  }

  &--death {
    background-color: rgba($color-death, 0.3);
  }

  &--recovered {
    background-color: rgba($color-recovered, 0.3);
  }
}

.curve {
  &--cases {
    .stroke {
      stroke: $color-infected;
    }
    .fill {
      fill: rgba($color-infected, 0.3);
    }
    .point {
      fill: $color-infected;
      stroke: $color-infected;
    }
  }

  &--death {
    .stroke {
      stroke: $color-death;
    }
    .fill {
      fill: rgba($color-death, 0.3);
    }
    .point {
      fill: $color-death;
      stroke: $color-death;
    }
  }

  &--recovered {
    .stroke {
      stroke: $color-recovered;
    }
    .fill {
      fill: rgba($color-recovered, 0.3);
    }
    .point {
      fill: $color-recovered;
      stroke: $color-recovered;
    }
  }
}
