$color-base: #2f495e;
$color-base-text: #fff;

$color-primary: #c43538;
$color-primary-text: #fff;

$color-secondary: #6d6969;
$color-secondary-text: #fff;

$color-infected: #f39c12;
$color-death: #e74c3c;
$color-recovered: #2ecc71;

.color {
  &--death {
    svg {
      color: $color-death;
      fill: $color-death;
    }
  }

  &--infected {
    svg {
      color: $color-infected;
      fill: $color-infected;
    }
  }

  &--recovered {
    svg {
      color: $color-recovered;
      fill: $color-recovered;
    }
  }
}
