$font-header: "Montserrat", sans-serif;
$font-regular: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;

$box-shadow: 0 0 14px rgba($color-base-text, 0.5);
