.btn {
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-base-text, 0);
    @include transition;
  }

  &:focus {
    &::after {
      border: 2px solid rgba($color-base-text, 0.8);
      background-color: rgba($color-base-text, 0.35);
    }
  }
}
