.card {
  &--primary {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-base;
    color: $color-base-text;
    border-radius: 8px;
    box-shadow: $box-shadow;
    overflow: hidden;
    box-sizing: border-box;

    &__icon {
      margin-right: 8px;
      img {
        display: block;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        background-color: $color-secondary;
      }
    }

    &__toggle {
      height: 35px;
      width: 35px;
      svg {
        fill: $color-base-text;
      }
    }

    &__body {
      padding: 8px 13px;
      width: 100%;
    }

    &__header {
      display: flex;
      align-items: center;
    }

    &__country {
      font-size: 20px;
      font-weight: 700;
      font-family: $font-header;
      text-decoration: none;
      color: $color-base-text;
    }

    &__tally {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 5px;
    }

    &__tally-item {
      display: flex;
      flex-direction: column;
      min-width: 33.3333%;
    }

    &__tally-icon {
      display: inline-block;
      margin-right: 3px;
      svg {
        height: 20px;
        width: 20px;
      }
    }

    &__tally-body {
      display: flex;
    }

    &__tally-total {
      font-weight: 500;
      font-size: 15px;
    }

    &__tally-title {
      font-size: 10px;
      color: rgba($color-base-text, 0.7);
    }

    &__others {
      padding: 0 15px;
      height: 0;
      overflow: hidden;
      background-color: darken($color-base, 3%);
      @include transition;
    }

    &__others &__tally-item {
      margin-bottom: 10px;
    }
  }

  &--news {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 210px;
    border-radius: 8px;
    box-shadow: 0 0 14px rgba($color-dark, 0);
    @include transition;

    &:hover {
      box-shadow: 0 0 14px rgba($color-dark, 0.3);
    }

    &__image {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      user-select: none;
      img {
        // position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background-image: linear-gradient(
          to bottom,
          rgba($color-dark, 0),
          rgba($color-dark, 0.5)
        );
      }
    }
    &__headline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $color-base;
      padding: 14px;
      z-index: 3;
    }

    &__heading {
      display: block;
      margin-top: 3px;
      font-family: $font-header;
      line-height: 1;
      letter-spacing: -1px;
      font-size: 20px;
      text-decoration: none;
      color: $color-base;
    }

    &__publisher {
      display: inline-block;
      font-size: 16px;
      border-top: 2px solid rgba($color-death, 1);
      padding-top: 4px;
      margin-top: 8px;
      line-height: 1;
    }
  }
}

.others-show {
  height: 100px;
  margin-top: 0;
}
