.country {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  &__body {
    flex: 1 1 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
  }

  &__tweets {
    width: 450px;
    background: $color-twitter;
    padding: 30px;
    overflow-y: hidden;

    & .timeline-Widget {
      background-color: transparent !important;
    }
  }

  &__tweets-heading {
    font-family: $font-header;
    font-weight: 900;
    font-size: 22px;
    color: $color-base-text;
    margin-bottom: 20px;

    span {
      font-size: 38px;
      color: $color-twitter-text;
    }
  }

  &__main {
    padding: 30px 20px 30px 70px;
    background-color: darken($color-base, 2%);
  }

  &__news {
    padding: 30px 20px 50px 70px;
  }

  &__headers {
    display: flex;
    align-items: center;
  }

  &__tally {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }

  &__tally-item {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
  }
  &__tally-header {
    display: flex;
    align-items: flex-end;
  }

  &__tally-icon {
    margin-right: 8px;
    svg {
      height: 35px;
      width: 35px;
    }
  }

  &__tally-title {
    font-size: 16px;
    margin-bottom: 2px;
  }

  &__tally-total {
    font-size: 30px;
    font-family: $font-header;
  }

  &__tally-chart {
    width: 90%;
    height: 180px;
    margin-top: 10px;
    border-radius: 10px;
  }

  &__other {
    margin-top: 20px;
  }

  &__other-tally {
    display: flex;
    list-style: none;
  }

  &__other-item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__other-total {
    font-size: 25px;
  }
  &__other-title {
    font-size: 13px;
    margin-top: 5px;
    color: rgba($color-base-text, 0.8);
    max-width: 100%;
  }
}
