.home {
  position: relative;

  &__container {
    display: flex;
    padding: 20px 30px;
  }

  &__scrollable {
    overflow: hidden;
    margin-top: 20px;
    margin-left: -10px;
    height: 88vh;
    width: 420px;
  }

  &__cases {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 10px;
    overflow-y: scroll;
    box-sizing: content-box;
    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__sidebar {
    position: relative;
    z-index: 2;
  }

  &__body {
    display: flex;
    flex: 1 1;
    align-items: flex-end;
    pointer-events: none;
    position: relative;
    z-index: 2;
  }
}
